In [1]:
import numpy as np 
import pandas as pd
import warnings
import matplotlib.pyplot as plt 
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
df = pd.read_csv('data_train.csv', sep=',', decimal='.')
#df = pd.get_dummies(df, columns=['Vehicle_Age'], drop_first=False, dummy_na=False)
df = df.drop(columns=['id','Region_Code'])
df

,Gender,Age,Driving_License,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Female,45,1,0,1-2 Year,Yes,21406.0,124.0,22,0
1,Male,25,1,1,< 1 Year,No,58078.0,152.0,86,0
2,Female,57,1,1,1-2 Year,No,2630.0,26.0,214,0
3,Male,50,1,0,1-2 Year,Yes,2630.0,163.0,61,0
4,Female,21,1,0,< 1 Year,Yes,44589.0,152.0,131,0
...,...,...,...,...,...,...,...,...,...,...
346071,Female,37,1,0,1-2 Year,Yes,2630.0,156.0,218,0
346072,Male,54,1,0,> 2 Years,Yes,36962.0,122.0,36,0
346073,Female,25,1,1,< 1 Year,No,37004.0,152.0,294,0
346074,Male,22,1,1,< 1 Year,No,40338.0,152.0,67,0
346075,Male,65,1,0,1-2 Year,Yes,51194.0,26.0,33,0

In [3]:
df['Gender'] = df['Gender'].map({'Male': 1,'Female': 0})
df['Vehicle_Damage'] = df['Vehicle_Damage'].map({'Yes': 1,'No': 0})
df['Vehicle_Age'] = df['Vehicle_Age'].map({'< 1 Year': 1,'1-2 Year': 2,'> 2 Years': 3})

In [4]:
df

,Gender,Age,Driving_License,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,45,1,0,2,1,21406.0,124.0,22,0
1,1,25,1,1,1,0,58078.0,152.0,86,0
2,0,57,1,1,2,0,2630.0,26.0,214,0
3,1,50,1,0,2,1,2630.0,163.0,61,0
4,0,21,1,0,1,1,44589.0,152.0,131,0
...,...,...,...,...,...,...,...,...,...,...
346071,0,37,1,0,2,1,2630.0,156.0,218,0
346072,1,54,1,0,3,1,36962.0,122.0,36,0
346073,0,25,1,1,1,0,37004.0,152.0,294,0
346074,1,22,1,1,1,0,40338.0,152.0,67,0
346075,1,65,1,0,2,1,51194.0,26.0,33,0

In [5]:
df.shape

(346076, 10)

In [6]:
df.head(10)

,Gender,Age,Driving_License,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,45,1,0,2,1,21406.0,124.0,22,0
1,1,25,1,1,1,0,58078.0,152.0,86,0
2,0,57,1,1,2,0,2630.0,26.0,214,0
3,1,50,1,0,2,1,2630.0,163.0,61,0
4,0,21,1,0,1,1,44589.0,152.0,131,0
5,0,31,1,1,1,0,31177.0,152.0,151,0
6,1,52,1,0,2,1,25708.0,156.0,295,0
7,1,42,1,0,2,1,33257.0,154.0,272,0
8,1,43,1,0,2,1,23433.0,152.0,252,0
9,1,32,1,0,1,1,2630.0,156.0,270,0

In [7]:
X = df.iloc[:,0:9]
Y = df.iloc[:, 9]

In [8]:
print("Poucentage de Non Favorable: {0:3f}".format(100*sum(Y==0) / len(Y)))
print("Poucentage de Favorable: {0:3f}".format(100*sum(Y==1) / len(Y)))

Poucentage de Non Favorable: 96.625886
Poucentage de Favorable: 3.374114

In [9]:
# example of cost-sensitive logistic regression for imbalanced classification
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score

In [13]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [34]:
# split into train/test sets with same class ratio
trainX, testX, trainy, testy = train_test_split(X, Y, test_size=0.3, stratify=Y)

In [35]:
# define model
model = LogisticRegression(solver='liblinear', class_weight='balanced')
# fit model
model.fit(trainX, trainy)
# predict on test set
yhat = model.predict(testX)

In [38]:
print('Accuracy: %.3f' % accuracy_score(testy, yhat))
print('Precision: %.3f' % precision_score(testy, yhat, average='weighted'))
print('Recall: %.3f' % recall_score(testy, yhat, average='weighted'))
print('F-measure: %.3f' % f1_score(testy, yhat, average='weighted'))

Accuracy: 0.607
Precision: 0.968
Recall: 0.607
F-measure: 0.724

In [16]:
from sklearn.metrics import confusion_matrix

In [37]:
confusion_matrix(testy, yhat)

array([[59559, 40761],
       [   77,  3426]], dtype=int64)

In [39]:
# example of both undersampling and oversampling
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.combine import SMOTEENN

In [41]:
# summarize class distribution
print(Counter(Y))
# define sampling strategy
sample = SMOTEENN(sampling_strategy=0.5)
# fit and apply the transform
X_over, y_over = sample.fit_resample(X, Y)
# summarize class distribution
print(Counter(y_over))

Counter({0: 334399, 1: 11677})
Counter({0: 255719, 1: 125012})

In [44]:
y_over

0         0
1         0
2         0
3         0
4         0
         ..
380726    1
380727    1
380728    1
380729    1
380730    1
Name: Response, Length: 380731, dtype: int64

In [45]:
X_over

,Gender,Age,Driving_License,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,0,45,1,0,2,1,21406.000000,124.000000,22
1,1,25,1,1,1,0,58078.000000,152.000000,86
2,0,57,1,1,2,0,2630.000000,26.000000,214
3,1,50,1,0,2,1,2630.000000,163.000000,61
4,0,21,1,0,1,1,44589.000000,152.000000,131
...,...,...,...,...,...,...,...,...,...
380726,0,51,1,0,2,1,31241.540764,148.595116,40
380727,0,57,1,0,2,1,48038.183999,26.000000,121
380728,0,41,1,0,1,1,41935.116926,125.636969,156
380729,0,39,1,0,2,1,29043.885734,147.471391,150
380730,0,30,1,0,2,1,2630.000000,156.000000,240

In [51]:
# split into train/test sets with same class ratio
trainX, testX, trainy, testy = train_test_split(X_over, y_over, test_size=0.3, stratify=y_over)

In [52]:
# define model
model = LogisticRegression(solver='liblinear', class_weight='balanced')
# fit model
model.fit(trainX, trainy)
# predict on test set
yhat = model.predict(testX)

In [54]:
print('Accuracy: %.3f' % accuracy_score(testy, yhat))
print('Precision: %.3f' % precision_score(testy, yhat, average='weighted'))
print('Recall: %.3f' % recall_score(testy, yhat, average='weighted'))
print('F-measure: %.3f' % f1_score(testy, yhat, average='weighted'))

Accuracy: 0.740
Precision: 0.838
Recall: 0.740
F-measure: 0.746

In [59]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier,AdaBoostClassifier,ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier

from sklearn.model_selection import KFold,cross_val_score
import time
import xgboost as xgb
from sklearn.preprocessing import StandardScaler

clfs = {
    'LR': LogisticRegression(solver='liblinear'),
    'ADA': AdaBoostClassifier(n_estimators=100,random_state=1),
    'ET': ExtraTreesClassifier(n_estimators=100,random_state=1),
    'KNN': KNeighborsClassifier(n_neighbors=5),
    'CART': DecisionTreeClassifier(criterion='gini',random_state=1),
    'ID3': DecisionTreeClassifier(criterion='entropy',random_state=1),
    'Stumb': DecisionTreeClassifier(criterion='gini',max_depth=1,random_state=1),


}

def run_classifieurs(X,Y,clfs):
    kf = KFold(n_splits=10, shuffle=True, random_state=1) 
    for i in clfs:
        clf = clfs[i]
        debut=time.time()
        cv_acc = cross_val_score(clf, X, Y, cv=kf,scoring='precision')
        cv_acc1 = cross_val_score(clf, X, Y, cv=kf,scoring='accuracy')

        fin=time.time()
        print("Precision for {0} is: {1:.3f} +/- {2:.3f} en {3:.3f}s".format(i,
                                                                            np.mean(cv_acc),
                                                                            np.std(cv_acc),fin-debut))
        print("Accuracy for {0} is: {1:.3f} +/- {2:.3f} en {3:.3f}s".format(i,
                                                                            np.mean(cv_acc1),
                                                                            np.std(cv_acc1),fin-debut))

In [60]:
run_classifieurs(X_over, y_over,clfs)

Precision for LR is: 0.641 +/- 0.017 en 36.915s
Accuracy for LR is: 0.753 +/- 0.018 en 36.915s
Precision for ADA is: 0.746 +/- 0.004 en 437.205s
Accuracy for ADA is: 0.860 +/- 0.002 en 437.205s
Precision for ET is: 0.868 +/- 0.001 en 541.584s
Accuracy for ET is: 0.924 +/- 0.001 en 541.584s
Precision for KNN is: 0.923 +/- 0.002 en 53.714s
Accuracy for KNN is: 0.967 +/- 0.001 en 53.714s
Precision for CART is: 0.885 +/- 0.003 en 30.640s
Accuracy for CART is: 0.934 +/- 0.002 en 30.640s
Precision for ID3 is: 0.889 +/- 0.002 en 36.713s
Accuracy for ID3 is: 0.937 +/- 0.001 en 36.713s
Precision for Stumb is: 0.529 +/- 0.003 en 3.470s
Accuracy for Stumb is: 0.708 +/- 0.002 en 3.470s